html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
}

.header {
  display: flex;
  /*flex-direction: row;
  align-items: center;*/
  position: fixed;
  top: 0;
  background-color: black;
  width: 100%;
}

.header-contents {
  /*display: flex;
  flex-direction: row;
  align-items: center;*/
  max-width: 960px;
  padding: .5rem;
}

.logo {
  /*display: flex;
  justify-content: flex-start;
  align-items: center;*/
  /*margin: auto;*/
  height: 1.5rem;
  /*padding: .5rem;*/
}

span.header-contents {
  display: flex;
  align-items: center;
  color: white;
  padding: .66rem .5rem;
}

.site-container {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 960px;
}

.banner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 25rem;
  background-image: url("../../resources/images/moto.jpeg");
  background-size: cover;
}

.box {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 7rem;
  background-color: black;
  padding: 2.5rem;
}

.box-empty {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 7rem;
  padding: 2.5rem;
}

.box-contents {
  color: white;
}

h4.box-contents {
  padding-bottom: 1.25rem;
}

h1.box-contents {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.875rem;
}

nav.secondary {
  display: flex;
  width: 100%;
  height: 4rem;
  background-color: firebrick;
}

.nav-container {
  display: flex;
  align-items: center;
}

span {
  color: white;
  margin-right: 6rem;
}
